@import url('https://fonts.googleapis.com/css?family=Dokdo:100,200,300,400,500,600,700|Gloria+Hallelujah:100,200,300,400,500,600,700');

body {
    font-family: "Dokdo", sans-serif;
}

/*---------------------------------------------------Backgrounds*/

/*index.html background*/
.background-home { 
    background: url("../../assets/images/backgrounds/portal.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background-rick { 
    background: url("../../assets/images/backgrounds/garage.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background-morty { 
    background: url("../../assets/images/backgrounds/bedroom.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background-bonus { 
    background: url("../../assets/images/backgrounds/couch.png") no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

/*---------------------------------------------------/Backgrounds*/

/*---------------------------------------------------Headers*/

/*logo*/
.container-header img {
    display: flex;
    padding-top: 25px;
}

/*title*/
h1 {
    font-family: "Gloria Hallelujah", cursive;
    color: #000;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

/*---------------------------------------------------/Headers*/

/*---------------------------------------------------Enter*/

.container-enter {
    margin-top: 5px;
}

/*Portal Gun*/
.portal-gun {
    margin: 0 auto;
    justify-content: center;
}

/*Button Setup*/
.btn {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: #f50909f8;
    border: solid 3px #fff;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 1.1;
}

/*Button Hover*/
.btn:hover {
    color: #fff;
    text-decoration-line: none;
    background-color: #b30c0cf8;
}

/*Enter Button*/
.btn--enter {
    margin-top: 35px;
}

/*Enter Button Link Element*/
.btn--enter a {
    color: #fff;
    text-decoration-line: none;
}

/*---------------------------------------------------/Enter*/

/*---------------------------------------------------/Menu*/

/*Button Group*/
.btn-group-vertical {
    top: 35px;
    display: flex;
    grid-row-gap: 15px;
    margin: 0 auto;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 250px;
}

/*Play Button*/
button .btn--play {
    line-height: 1.2;
}

/*Play Button Link Element*/
.btn--play a {
    color: #fff;
    text-decoration-line: none;
}

/*How to Play Button*/
.btn--how-to-play {
    line-height: 1.2;
}

/*How to Play Link Element*/
.btn--how-to-play a {
    color: #fff;
    text-decoration-line: none;
}

/*Audio Button*/
.btn--audio {
    line-height: 1.2;
}

/*Audio Button Link Element*/
.btn--audio a {
    color: #fff;
    text-decoration-line: none;
}

/*---------------------------------------------------/Menu Section*/

/*---------------------------------------------------Footer*/

/*Footer*/
footer {
    position:fixed;
    bottom:0;
    left:0;
    text-align: center;
}

/*Name*/
#footer-details h5 {
    font-family: "Gloria Hallelujah", cursive;
    letter-spacing: 1px;
    font-weight: 400;
}

/*Social Icons*/
ul {
    list-style-type: none;
}

/*Social Icons Link Element*/
.list-inline-item a {
    color: #000;
    text-align: center;
}

/*---------------------------------------------------/Footer*/

/*---------------------------------------------------Play Modal*/

.modal-sub-title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-decoration-line: underline;
    text-underline-position: under;
    margin-bottom: 30px;
}

ul {
    padding: 10px;
    text-align: center;
}

li .play-img {
    margin-bottom: 20px;
}

.btn--play-sm {
    width: 120px;
    font-family: "Dokdo",cursive;
    line-height: 1.2;
}

/*---------------------------------------------------/Play Modal*/

/*---------------------------------------------------How to Play Modal*/

/*Modal Background*/
.modal-content {
    background: url("../../assets/images/backgrounds/portal.png") no-repeat center center;
    height: 100vh;
    border: 3px solid #fff;
}

/*Opaque Overlay*/
.opaque-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*How to Play Header*/
.modal-header {
    z-index: 1;
    font-family: "Gloria Hallelujah", cursive;
    border: none;
    border-bottom: solid 1px;
    color: #fff;
}

/*How to Play Title*/
.modal-title {
    z-index: 1;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin: 0 auto;
}

/*Instructions*/
.modal-body {
    z-index: 1;
    color: #fff;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

/*Modal List Item*/
.modal-body li {
    z-index: 1;
    font-family: "Gloria Hallelujah", cursive;
    margin-bottom: 35px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

/*htp Player-Select Icons*/
.htp-player-select {
    text-align: center;
}

/*Tiny Rick Image*/
.tiny-rick {
    margin-top:30px;
    padding: 0px;
    background-color: #1616166a;
    border-radius: 50%;
}

/*Tiny Rick Text*/
.rick-text {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin-left: 25px;
    padding-bottom: 15px
}

/*Tiny Morty Image*/
.tiny-morty {
    margin-top:30px;
    padding: 0px;
    background-color: #1616166a;
    border-radius: 50%;
}

/*Tiny Morty Text*/
.morty-text {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin-left: 25px;
    padding-bottom: 15px;
}

/*Modal Footer*/
.modal-footer {
    height: 75px;
    border: none;
    border-top: solid 1px;
    color: #fff;
    z-index: 1;
    line-height: 1px;
}

/*Close Text*/
.close {
    opacity: inherit;
    line-height: 1.5;
}

 .modal-footer .btn--close{
    width: 140px;
    height: 50px;
    background-color: #f50909f8;
    border: solid 3px #fff;
    border-radius: 5px;
}

/*---------------------------------------------------/How to Play Modal*/

/*---------------------------------------------------Audio Modal*/

.audio-text {
    text-align: center;
    line-height: 1.8;
}

.modal-body .btn--audio {
    width: 75px;
    font-family: "Dokdo", cursive;
    line-height: 1.2;
}

/*Audio Volume Label*/
.audio-volume-label {
    margin: 0 auto 20px;
}

/*---------------------------------------------------/Audio Modal*/

/*---------------------------------------------------Win Modal*/

.win-body {
    text-align: center;
    margin: 0 auto;
}

.win-text-rick {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.modal-footer .btn--bonus {
    margin-left: 20px;
    width: 140px;
    height: 50px;
    background-color: #f50909f8;
    border: solid 3px #fff;
    border-radius: 5px;
    line-height: 1.2;
    font-weight: 600;
}

.footer-win {
    margin: 0 auto;
    border-top: none;
}

/*---------------------------------------------------/Win Modal*/

/*---------------------------------------------------Custom Slider - CSS Tricks*/

/*Removes Original Setup*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/*Slider Thumb*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url("../../assets/images/icons/plumbus.png") no-repeat center center;
    cursor: pointer;
    margin-top: -25px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-moz-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url("../../assets/images/icons/plumbus.png") no-repeat center center;
    cursor: pointer;
}

input[type=range]::-ms-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url("../../assets/images/icons/plumbus.png") no-repeat center center;
}

/*Slider-Track*/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer; 
    background: #06f006f8;
    border-radius: 3px;
    border: 1.5px solid #000;
}

/*---------------------------------------------------/Custom Slider - CSS Tricks*/

/*---------------------------------------------------Gameplay Grid 3x3*/

.container-game {
    width: 360px;
    height:485px;
    margin-top: 20px ;
    background: #1b810fd1;
    border: 5px solid #fff;
    border-radius: 15px;
}

.btn--game {
    margin-top: 15px;
    height: 40px;
    width: 140px;
    line-height: .8;
}

#table-3x3 {
    margin: 15px auto;
}

.tile1-3x3, .tile2-3x3, .tile3-3x3, .tile4-3x3, .tile5-3x3, .tile6-3x3, .tile7-3x3, .tile8-3x3, .tile9-3x3 {
  display: table-cell;
  width: 101px;
  height: 99px;
  border: 1px solid #1b810fd1;
  background: url("../../assets/images/puzzles/vat-of-acid.png"); 
  cursor: pointer;
}

.tile1-3x3 {background-position: left top;}
.tile2-3x3 {background-position: center top;}
.tile3-3x3 {background-position: right top;}
.tile4-3x3 {background-position: left center;}
.tile5-3x3 {background-position: center center;}
.tile6-3x3 {background-position: right center;}
.tile7-3x3 {background-position: left bottom;}
.tile8-3x3 {background-position: center bottom;}
.tile9-3x3 {background: white; cursor: default;}

/*---------------------------------------------------Gameplay Grid 3x3*/

/*---------------------------------------------------Gameplay Grid 3x3b*/

#table-3x3b {
    margin: 15px auto;
}

.tile1-3x3b, .tile2-3x3b, .tile3-3x3b, .tile4-3x3b, .tile5-3x3b, .tile6-3x3b, .tile7-3x3b, .tile8-3x3b, .tile9-3x3b {
  display: table-cell;
  width: 101px;
  height: 99px;
  border: 1px solid #1b810fd1;
  background: url("../../assets/images/puzzles/bonus3x3.png"); 
  cursor: pointer;
}


.tile1-3x3b {background-position: left top;}
.tile2-3x3b {background-position: center top;}
.tile3-3x3b {background-position: right top;}
.tile4-3x3b {background-position: left center;}
.tile5-3x3b {background-position: center center;}
.tile6-3x3b {background-position: right center;}
.tile7-3x3b {background-position: left bottom;}
.tile8-3x3b {background-position: center bottom;}
.tile9-3x3b {background: white; cursor: default;}

/*---------------------------------------------------Gameplay Grid 3x3b*/

/*---------------------------------------------------Gameplay Grid 4x4*/

#table-4x4 {
    margin: 15px auto;
}

.tile1-4x4, .tile2-4x4, .tile3-4x4, .tile4-4x4, .tile5-4x4, .tile6-4x4, .tile7-4x4, .tile8-4x4, .tile9-4x4, .tile10-4x4, .tile11-4x4, .tile12-4x4, .tile13-4x4, .tile14-4x4, .tile15-4x4, .tile16-4x4 {
  display: table-cell;
  width: 80px;
  height: 80px;
  border: 1px solid #1b810fd1;
  background: url("../../assets/images/puzzles/evil-morty.png"); 
  cursor: pointer;
}

.tile1-4x4 {background-position: 0px 0px;}
.tile2-4x4 {background-position: -80px 0px;}
.tile3-4x4 {background-position: -160px 0px;}
.tile4-4x4 {background-position: -240px 0px;}
.tile5-4x4 {background-position: 0px -80px;}
.tile6-4x4 {background-position: -80px -80px;}
.tile7-4x4 {background-position: -160px -80px;}
.tile8-4x4 {background-position: -240px -80px;}
.tile9-4x4 {background-position: 0px -160px;}
.tile10-4x4 {background-position: -80px -160px;}
.tile11-4x4 {background-position: -160px -160px;}
.tile12-4x4 {background-position: -240px -160px;}
.tile13-4x4 {background-position: 0px -240px;}
.tile14-4x4 {background-position: -80px -240px;}
.tile15-4x4 {background-position: -160px -240px;}
.tile16-4x4 {background: white; cursor: default;}

/*---------------------------------------------------/Gameplay Grid 4x4*/

/*---------------------------------------------------Gameplay Grid 4x4b*/

#table-4x4b {
    margin: 15px auto;
}

.tile1-4x4b, .tile2-4x4b, .tile3-4x4b, .tile4-4x4b, .tile5-4x4b, .tile6-4x4b, .tile7-4x4b, .tile8-4x4b, .tile9-4x4b, .tile10-4x4b, .tile11-4x4b, .tile12-4x4b, .tile13-4x4b, .tile14-4x4b, .tile15-4x4b, .tile16-4x4b {
  display: table-cell;
  width: 80px;
  height: 80px;
  border: 1px solid #1b810fd1;
  background: url("../../assets/images/puzzles/bonus4x4.png"); 
  cursor: pointer;
}

.tile1-4x4b {background-position: 0px 0px;}
.tile2-4x4b {background-position: -80px 0px;}
.tile3-4x4b {background-position: -160px 0px;}
.tile4-4x4b {background-position: -240px 0px;}
.tile5-4x4b {background-position: 0px -80px;}
.tile6-4x4b {background-position: -80px -80px;}
.tile7-4x4b {background-position: -160px -80px;}
.tile8-4x4b {background-position: -240px -80px;}
.tile9-4x4b {background-position: 0px -160px;}
.tile10-4x4b {background-position: -80px -160px;}
.tile11-4x4b {background-position: -160px -160px;}
.tile12-4x4b {background-position: -240px -160px;}
.tile13-4x4b {background-position: 0px -240px;}
.tile14-4x4b {background-position: -80px -240px;}
.tile15-4x4b {background-position: -160px -240px;}
.tile16-4x4b {background: white; cursor: default;}

/*---------------------------------------------------/Gameplay Grid 4x4b*/

/*---------------------------------------------------Media Queries*/


