@import url('https://fonts.googleapis.com/css?family=Dokdo:100,200,300,400,500,600,700|Gloria+Hallelujah:100,200,300,400,500,600,700');

body {
    font-family: "Dokdo", sans-serif;
}

/*---------------------------------------------------Backgrounds*/

/*index.html background*/
.background-home { 
    background: url('/assets/images/backgrounds/portal.png') no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background-rick { 
    background: url('/assets/images/backgrounds/garage.png') no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background-morty { 
    background: url('/assets/images/backgrounds/bedroom.png') no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.background-bonus { 
    background: url('/assets/images/backgrounds/bedroom.png') no-repeat left center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

/*---------------------------------------------------/Backgrounds*/

/*---------------------------------------------------Headers*/

/*logo*/
.container-header img {
    display: flex;
    padding-top: 35px;
}

/*title*/
h1 {
    font-family: "Gloria Hallelujah", cursive;
    color: #000;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
}

/*---------------------------------------------------/Headers*/

/*---------------------------------------------------Enter*/

/*Portal Gun*/
.portal-gun {
    margin: 0 auto;
    justify-content: center;
}

/*Button Setup*/
.btn {
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: #f50909f8;
    border: solid 3px #fff;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 1;
}

/*Button Hover*/
.btn:hover {
    color: #fff;
    text-decoration-line: none;
    background-color: #b30c0cf8;
}

/*Enter Button*/
.btn--enter {
    margin-top: 35px;
}

/*Enter Button Link Element*/
.btn--enter a {
    color: #fff;
    text-decoration-line: none;
}

/*---------------------------------------------------/Enter*/

/*---------------------------------------------------/Menu*/

/*Button Group*/
.btn-group-vertical {
    top: 50px;
    display: flex;
    grid-row-gap: 15px;
    margin: 0 auto;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 250px;
}

/*Play Button*/
button .btn--play {
    line-height: 1.2;
}

/*Play Button Link Element*/
.btn--play a {
    color: #fff;
    text-decoration-line: none;
}

/*How to Play Button*/
.btn--how-to-play {
    line-height: 1.2;
}

/*How to Play Link Element*/
.btn--how-to-play a {
    color: #fff;
    text-decoration-line: none;
}

/*Audio Button*/
.btn--audio {
    line-height: 1.2;
}

/*Audio Button Link Element*/
.btn--audio a {
    color: #fff;
    text-decoration-line: none;
}

/*---------------------------------------------------/Menu Section*/

/*---------------------------------------------------Footer*/

/*Footer*/
footer {
    position:fixed;
    bottom:0;
    left:0;
    text-align: center;
}

/*Name*/
#footer-details h5 {
    font-family: "Gloria Hallelujah", cursive;
    letter-spacing: 1px;
    font-weight: 400;
}

/*Social Icons*/
ul {
    list-style-type: none;
}

/*Social Icons Link Element*/
.list-inline-item a {
    color: #000;
    text-align: center;
}

/*---------------------------------------------------/Footer*/

/*---------------------------------------------------Play Modal*/

.modal-sub-title {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    text-decoration-line: underline;
    text-underline-position: under;
    margin-bottom: 30px;
}

ul {
    padding: 10px;
    text-align: center;
}

.btn--play-sm {
    font-family: "Dokdo",cursive;
    line-height: 1.2;
}

/*---------------------------------------------------/Play Modal*/

/*---------------------------------------------------How to Play Modal*/

/*Modal Background*/
.modal-content {
    background: url("/assets/images/backgrounds/portal.png") no-repeat center center;
    height: 100vh;
    border: 3px solid #fff;
}

/*Opaque Overlay*/
.opaque-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*How to Play Header*/
.modal-header {
    z-index: 1;
    font-family: "Gloria Hallelujah", cursive;
    border: none;
    border-bottom: solid 1px;
    color: #fff;
}

/*How to Play Title*/
.modal-title {
    z-index: 1;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    margin: 0 auto;
}

/*Instructions*/
.modal-body {
    z-index: 1;
    color: #fff;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

/*Modal List Item*/
.modal-body li {
    z-index: 1;
    font-family: "Gloria Hallelujah", cursive;
    margin-bottom: 35px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

/*htp Player-Select Icons*/
.htp-player-select {
    text-align: center;
}

/*Tiny Rick Image*/
.tiny-rick {
    margin-top:30px;
    padding: 0px;
    background-color: #1616166a;
    border-radius: 50%;
}

/*Tiny Rick Text*/
.rick-text {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin-left: 25px;
    padding-bottom: 15px
}

/*Tiny Morty Image*/
.tiny-morty {
    margin-top:30px;
    padding: 0px;
    background-color: #1616166a;
    border-radius: 50%;
}

/*Tiny Morty Text*/
.morty-text {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    margin-left: 25px;
    padding-bottom: 15px;
}

/*Modal Footer*/
.modal-footer {
    height: 75px;
    border: none;
    border-top: solid 1px;
    color: #fff;
    z-index: 1;
    line-height: 1px;
}

/*Close Text*/
.close {
    opacity: inherit;
    line-height: 1.5;
}

 .modal-footer .btn--close{
    width: 200px;
    height: 50px;
    background-color: #f50909f8;
    border: solid 3px #fff;
    border-radius: 5px;
}

/*---------------------------------------------------/How to Play Modal*/

/*---------------------------------------------------Audio Modal*/

.audio-text {
    text-align: center;
    line-height: 1.8;
}

.modal-body .btn--audio {
    width: 75px;
    font-family: "Dokdo", cursive;
    line-height: 1.2;
}

/*Audio Volume Label*/
.audio-volume-label {
    margin: 0 auto 20px;
}

/*---------------------------------------------------/Audio Modal*/

/*---------------------------------------------------Custom Slider - CSS Tricks*/

/*Removes Original Setup*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

/*Slider Thumb*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url("/assets/images/icons/plumbus.png") no-repeat center center;
    cursor: pointer;
    margin-top: -25px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-moz-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url("/assets/images/icons/plumbus.png") no-repeat center center;
    cursor: pointer;
}

input[type=range]::-ms-slider-thumb {
    -webkit-appearance: none;
    height: 50px;
    width: 50px;
    background: url("/assets/images/icons/plumbus.png") no-repeat center center;
}

/*Slider-Track*/
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer; 
    background: #06f006f8;
    border-radius: 3px;
    border: 1.5px solid #000;
}

/*---------------------------------------------------/Custom Slider - CSS Tricks*/

/*---------------------------------------------------Gameplay Grid*/

.container-game {
    margin-top: 20px ;
}

.btn--game {
    margin-top: 15px;
}
.tile1, .tile2, .tile3, .tile4, .tile5, .tile6, .tile7, .tile8, .tile9 {
  display: table-cell;
  width: 120px;
  height: 120px;
  border: 1px solid white;
  background: url("/assets/images/puzzles/pickle-rick-puzzle.png"); 
  cursor: pointer;
}

.tile1 {background-position: left top;}
.tile2 {background-position: center top;}
.tile3 {background-position: right top;}
.tile4 {background-position: left center;}
.tile5 {background-position: center center;}
.tile6 {background-position: right center;}
.tile7 {background-position: left bottom;}
.tile8 {background-position: center bottom;}
.tile9 {background: white; cursor: default;}
